.animate {
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.animate::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: #ffffff; */
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
  /* margin-top: 50px; */
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
